@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root
{
  --primary-color: rgb(255, 100, 0);
  --dark-primary-color: rgb(197, 79, 0);
  --light-primary-color: rgb(255, 140, 64);
}

html, body
{
  margin: 0;
  padding: 0;
}

body
{
  background: rgb(2, 0, 27);
}

.app
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.login-form
{
  background: rgba(216, 216, 216, 0.25);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 50px 0 20px 0;
}

@media screen and (max-width: 400px)
{
  .login-form
  {
    width: 80vw;
  }
}

.login-form .username
{
  margin: 0 0 10px 0;
  font-size: 30px;
}

@media screen and (max-width: 250px)
{
  .login-form .username
  {
    font-size: 24px;
  }
}

.login-form input
{
  background: rgb(255, 255, 255);
  width: 80%;
  max-width: 225px;
  height: 40px;
  font-size: 18px;
  margin: 0;
  padding: 0;
  padding-left: 7px;
  border: none;
  border-radius: 0;
  outline: none;
}

.login-form button
{
  background: var(--primary-color);
  color: white;
  width: 120px;
  height: 50px; 
  margin-top: 40px;
  font-size: 25px;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background 0.2s;
}

.login-form button:hover
{
  background: var(--light-primary-color);
}

.login-form .taken-username
{
  color: red;
  margin: 10px 0 0 0;
  font-size: 26px;
  font-weight: 500;
  text-align: center;
}

.chat-room
{
  display: flex;
  flex-direction: column;  
  align-items: center;
  width: 100vw;
  height: 100vw;
}

.chat-room 
{
  display: flex;
  width: 100vw;
  max-width: 700px;
  min-width: 200px;
  height: calc(100% - 10px); /* Top padding */
  margin: 0;
  padding: 10px 0 0 0;
}

.messages
{  
  width: 100%; 
  margin: 0;
  padding: 0;
  overflow: scroll;
  flex: 1; 
}

.messages::-webkit-scrollbar {
  display: none;
}

.enable-realtime-messaging-button
{
  background: var(--primary-color);
  color: white;
  position: absolute;
  bottom: 100px;
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 50%;
  font-size: 25px;
  transition: 0.2s;
}

.enable-realtime-messaging-button:hover
{
  background: var(--light-primary-color);
}

.message-container
{
  background: rgba(190, 190, 190, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  width: 100%;
  min-height: 60px;
  margin-bottom: 10px
}

.message-sender, .message
{
  margin: 0 8px;
  padding: 0;
}

.message-sender
{
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
}

.message
{
  font-size: 20px;
  line-height: 24px;
}

.new-message-form
{
  display: flex;
  bottom: 20px;
  min-width: 400px;
  width: 35vw;
  height: 50px;
  margin: 5px 0 20px 0;
}

@media screen and (max-width: 500px)
{
  .new-message-form
  {
    min-width: 0;
    width: 100vw;
    margin: 0;
  }

  .chat-room 
  {
    height: 100%;
    padding: 0;
  }
}

.new-message-input
{
  background: rgb(255, 255, 255);
  min-width: 0;
  height: 100%;
  font-size: 18px;
  margin: 0;
  padding: 0;
  padding-left: 7px;
  border: none;
  border-radius: 0;
  outline: none;
  flex: 1;
}

.new-message-input::placeholder
{
  font-size: 18px; /* Same as search-bar's font-size */
  font-style: italic;
}

.send-message-button
{
  background: var(--primary-color);
  color: white;
  min-width: 120px;
  height: 50px; /* Same as search-form's height */
  font-size: 25px;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background 0.2s;
}

form button:hover
{
  background: var(--light-primary-color);
}